#clockContainter{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 1.5%;
    height: 20%;
    top: 30.5%;
    left: 49%;
    opacity: 0.8;
}
#minute{
    width: 1.5%;
    height: 26%;
    top: 24.1%;
    left: 49%;
    opacity: 0.8;
}
#second{
    width: 1%;
    height: 35%;
    top: 14.9%;
    left: 49.5%;
    opacity: 0.8;
    
}